.sidebar {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    margin: 10px 0;
  }
  .balance {
    font-weight: bold;
    color: green;
    float: right;
  }
  .sidebar h5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sidebar ul {
    margin-top: 20px;
  }
  .sidebar li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .sidebar li a {
    text-decoration: none;
    color: #0070c9;
    display: flex;
    align-items: center;
  }
  .sidebar li a i {
    margin-right: 8px;
  }
  .card-header {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  .icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1rem;
  }
  .icon-item {
    text-align: center;
    padding: 10px;
  }
  .icon-item i {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .banner img{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: solid yellow;
    margin-bottom: 15px;
  }